wandb
numba
flashlight-text
llvmlite
editdistance
matplotlib
numpy
wget
kenlm
pandas
Pillow
pyctcdecode
speechbrain==0.5.15
torch==2.1.0
torch_audiomentations==0.11.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1